<!DOCTYPE html>
<html lang="en">

<head  xmlns:th="http://www.thymeleaf.org">

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

  <title>Bus Dway | LOGIN</title>
  <meta content="Admin Dashboard" name="description" />
  <meta content="Themesbrand" name="author" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <!-- App Icons -->
  <link rel="shortcut icon" href="images/favicon.ico">

  <!-- Basic Css files -->
  <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="css/icons.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">


<!--  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">-->
<!--  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">-->

<!--  <link href="/css/sb-admin-2.min.css" rel="stylesheet">-->

</head>

<body class="fixed-left">
    <!-- Begin page -->
    <div class="accountbg" ></div>
    <div class="wrapper-page">

      <div class="card">
        <div class="card-body">

          <h3 class="text-center m-0">
            <a href="index.html" class="logo logo-admin"><img src="images/logo.png" height="30" alt="logo"></a>
          </h3>

          <div class="p-3">
            <h4 class="font-18 m-b-5 text-center">Welcome Back !</h4>
            <p class="text-muted text-center">Sign in to continue to Admiria.</p>

            <form class="user" id="formLogin" th:action="@{/login}" method="post">

              <div class="form-group">
                <label for="username">Username</label>
                <input type="email" class="form-control form-control-user" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter Email Address...">
              </div>

              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control form-control-user" id="password" name="password" placeholder="Password">
              </div>

              <div class="form-group row m-t-20">
<!--                <div class="col-sm-6">-->
<!--                  <div class="custom-control custom-checkbox">-->
<!--                    <input type="checkbox" class="custom-control-input" id="customControlInline">-->
<!--                    <label class="custom-control-label" for="customControlInline">Remember me</label>-->
<!--                  </div>-->
<!--                </div>-->
                <button href="submit" class="btn btn-primary btn-user btn-block">
                  Login
                </button>
              </div>

              <div class="form-group m-t-10 mb-0 row">
                <div class="col-12 m-t-20">
                  <a href="recover" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="m-t-40 text-center">
        <p class="text-white">Don't have an account ? <a href="register" class="font-500 font-14 text-white font-secondary"> Signup Now </a> </p>
        <p class="text-white">©Copyright by Baim 2020. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p>
      </div>

    </div>

  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="js/sb-admin-2.min.js"></script>

  <!-- App js -->
  <script src="js/app.js"></script>

  <!-- jQuery  -->
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/modernizr.min.js"></script>
  <script src="js/jquery.slimscroll.js"></script>
  <script src="js/waves.js"></script>
  <script src="js/jquery.nicescroll.js"></script>
  <script src="js/jquery.scrollTo.min.js"></script>
<!--  <script type="text/javascript" src="js/LoginPage.js"></script>-->

</body>

</html>
